<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://branchapp2021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cfdeaadc-c2a4-48e8-bf30-816be350c331/resourceGroups/ServerlessBlazor/providers/Microsoft.Web/sites/BranchAPP2021</ResourceId>
    <UserName>$BranchAPP2021</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://branchapp2021.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>